/* Boilerplate */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Reusable Css */
.container {
  padding: 0 100px;
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}

/* Topbar */
.heading {
  display: flex;
  background-color: #264788;
  justify-content: space-between;
  align-items: center;
  height: 55px;
  font-size: 16px;
}

.social-btns {
  display: flex;
  gap: 10px;
  align-items: center;
}

.social a,
.social span {
  color: white;
  text-decoration: none;
}

.portal button {
  background-color: transparent;
  color: white;
  border: 1px solid white;
  border-radius: 4px;
  padding: 4px 8px;
}

.call a {
  color: azure;
  text-decoration: none;
}

/* nav bar */
.navbar {
  display: flex;
  align-items: center;
  background-color: #f8f9fa;
  justify-content: space-between;
  padding-top: 8px;
  padding-bottom: 8px;
}

.logo {
  text-align: center;
  font-size: 14px;
}

.logo img {
  height: 50px;
}

.search-bar {
  display: flex;
}

.search-bar input {
  width: 680px;
  height: 40px;
  padding-left: 12px;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  border: 0.5px solid gray;
  outline: none;
}

.search-bar button {
  height: 40px;
  width: 40px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  border: 0.5px solid gray;
}

.search-course {
  display: flex;
  gap: 10px;
  align-items: center;
}

.get-admission button {
  padding: 8px 16px;
  font-size: 16px;
  background-color: #dd4a2a;
  color: white;
  border: none;
  border-radius: 8px;
}

/* Hero Section */
.hero {
  background-color: #e9ecf3;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero-img img {
  height: 400px;
}

.inspire h1 {
  color: #264788;
  font-size: 40px;
  padding-bottom: 20px;
}
.inspire p {
  font-size: 20px;
  padding-bottom: 60px;
}

.community {
  padding-bottom: 100px;
}

.community h2 {
  color: #444444;
  font-size: 30px;
}

.community p {
  font-size: 20px;
}

.Connect {
  justify-content: flex-start;
  display: flex;
  gap: 10px;
  padding-bottom: 150px;
}
.whatsapp button {
  font-size: 16px;
  padding: 8px 10px;
  border-radius: 5px;
  border: none;
  background-color: #00a884;
  color: white;
}

.facebok button {
  font-size: 16px;
  padding: 8px 10px;
  border-radius: 5px;
  border: none;
  background-color: #264788;
  color: white;
}
/* PLacement Section */

.features {
  text-align: center;
}

.para {
  font-size: 20px;
}

.behavior img {
  width: 150px;
  padding-right: 20px;
}
/* About Section */

.about {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
  background-color: #f8f9fa;
}

.learn-more button {
  background-color: #264788;
  color: white;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
}

.mission {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
